venv
__pycache__
/*.egg-info/
scripts/.mypy_cashe
scripts/__pycache__
clock_detector_v2/__pycache__
.idea

files/Результаты
files/Изображения/*
# Примеры
!files/Изображения/02:37:20.411.bmp
!files/Изображения/02:37:20.611.bmp
!files/Изображения/02:37:20.811.bmp
!files/Изображения/03:30:46.812.bmp
!files/Изображения/05:18:58.604.bmp
!files/Изображения/12:40:35.649.bmp
!files/Изображения/12:40:35.849.bmp
!files/Изображения/12:40:36.049.bmp
!files/Изображения/12:40:36.245.bmp
!files/Изображения/21:37:43.418.bmp
