venv
__pycache__
/*.egg-info/
scripts/.mypy_cashe
scripts/__pycache__
clock_detector_v2/__pycache__
.idea

files/Результаты
files/Изображения/*
# Примеры
!files/Изображения/02:01:56.432.bmp
!files/Изображения/02:01:56.628.bmp
!files/Изображения/02:01:56.828.bmp
!files/Изображения/02:01:57.028.bmp
!files/Изображения/02:01:57.228.bmp
!files/Изображения/02:01:57.428.bmp
!files/Изображения/02:01:57.628.bmp
!files/Изображения/02:01:57.824.bmp
!files/Изображения/02:01:58.024.bmp
!files/Изображения/02:01:58.224.bmp
